<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div><span><%= userInfo.name %>님 반갑습니다.</span></div>
    <div><span><%= userInfo.s %>이고,</span></div>
    <div>
      생년월일은 <span><%= userInfo.year %>년</span>
      <span><%= userInfo.month %>월</span>
      <span><%= userInfo.date %>일 입니다.</span>
    </div>
    <div>관심사는 <span><%= userInfo.interest %>입니다.</span></div>
    <div>
      좋아하는 색상은 <span><%= userInfo.color %>이고,</span> 좋아하는
      숫자는<span><% userInfo.number %> 입니다.</span>
    </div>
  </body>
</html>
